[submodule ".registry"]
	path = .registry
	url = https://github.com/r-multiverse/community
	branch = HEAD
[submodule "ExpBites"]
	path = ExpBites
	url = https://github.com/Nmoiroux/ExpBites
	branch = v0.1.1-zenodo
[submodule "IMD"]
	path = IMD
	url = https://github.com/humaniverse/IMD
	branch = v1.2.1
[submodule "Rvision"]
	path = Rvision
	url = https://github.com/swarm-lab/Rvision
	branch = v0.8.0
[submodule "SBC"]
	path = SBC
	url = https://github.com/hyunjimoon/SBC
	branch = v0.3.0
[submodule "adbcbigquery"]
	path = adbcbigquery
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-20
	subdir = r/adbcbigquery
[submodule "adbcdrivermanager"]
	path = adbcdrivermanager
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-20
	subdir = r/adbcdrivermanager
[submodule "adbcflightsql"]
	path = adbcflightsql
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-20
	subdir = r/adbcflightsql
[submodule "adbcsnowflake"]
	path = adbcsnowflake
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-20
	subdir = r/adbcsnowflake
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	branch = apache-arrow-21.0.0
	subdir = r
[submodule "asylum"]
	path = asylum
	url = https://github.com/humaniverse/asylum
	branch = v1.1.2
[submodule "audio.vadwebrtc"]
	path = audio.vadwebrtc
	url = https://github.com/bnosac/audio.vadwebrtc
	branch = 0.2
[submodule "audio.whisper"]
	path = audio.whisper
	url = https://github.com/bnosac/audio.whisper
	branch = 0.4.1
[submodule "autometric"]
	path = autometric
	url = https://github.com/wlandau/autometric
	branch = 0.1.2
[submodule "bayesplot"]
	path = bayesplot
	url = https://github.com/stan-dev/bayesplot
	branch = v1.14.0
[submodule "bridgestan"]
	path = bridgestan
	url = https://github.com/roualdes/bridgestan
	branch = v2.7.0
	subdir = R
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	branch = v0.9.0
[submodule "colorout"]
	path = colorout
	url = https://github.com/jalvesaq/colorout
	branch = v1.3-3
[submodule "crew"]
	path = crew
	url = https://github.com/wlandau/crew
	branch = 1.3.0
[submodule "crew.aws.batch"]
	path = crew.aws.batch
	url = https://github.com/wlandau/crew.aws.batch
	branch = 0.1.0
[submodule "crew.cluster"]
	path = crew.cluster
	url = https://github.com/wlandau/crew.cluster
	branch = 0.4.0
[submodule "deeptime"]
	path = deeptime
	url = https://github.com/willgearty/deeptime
	branch = v2.2.0
[submodule "deeptimedata"]
	path = deeptimedata
	url = https://github.com/willgearty/deeptimedata
	branch = v1.0.0
[submodule "demographr"]
	path = demographr
	url = https://github.com/humaniverse/demographr
	branch = 0.0.1
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb-r
	branch = v1.4.0
[submodule "geographr"]
	path = geographr
	url = https://github.com/humaniverse/geographr
	branch = 1.0.1
[submodule "geotargets"]
	path = geotargets
	url = https://github.com/ropensci/geotargets
	branch = *release
[submodule "ggsurveillance"]
	path = ggsurveillance
	url = https://github.com/biostats-dev/ggsurveillance
	branch = 0.5.1
[submodule "glaredb"]
	path = glaredb
	url = https://github.com/eitsupi/r-glaredb
	branch = v0.0.5
[submodule "healthyr"]
	path = healthyr
	url = https://github.com/humaniverse/healthyr
	branch = 0.0.1
[submodule "httpgd"]
	path = httpgd
	url = https://github.com/nx10/httpgd
	branch = v2.0.4
[submodule "ichimoku"]
	path = ichimoku
	url = https://github.com/shikokuchuo/ichimoku
	branch = v1.5.6
[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/rigraph
	branch = v2.1.4
[submodule "jagstargets"]
	path = jagstargets
	url = https://github.com/ropensci/jagstargets
	branch = 1.2.3
[submodule "later"]
	path = later
	url = https://github.com/r-lib/later
	branch = v1.4.4
[submodule "litedown"]
	path = litedown
	url = https://github.com/yihui/litedown
	branch = v0.7
[submodule "loneliness"]
	path = loneliness
	url = https://github.com/humaniverse/loneliness
	branch = 0.0.1
[submodule "loo"]
	path = loo
	url = https://github.com/stan-dev/loo
	branch = v2.8.0
[submodule "milRex"]
	path = milRex
	url = https://github.com/datapumpernickel/milRex
	branch = v1.0.1
[submodule "mirai"]
	path = mirai
	url = https://github.com/shikokuchuo/mirai
	branch = v2.5.1
[submodule "multitools"]
	path = multitools
	url = https://github.com/r-multiverse/multitools
	branch = 0.1.1
[submodule "multiverse.internals"]
	path = multiverse.internals
	url = https://github.com/r-multiverse/multiverse.internals
	branch = 1.1.5
[submodule "mutagen"]
	path = mutagen
	url = https://github.com/gvelasq/mutagen
	branch = v0.1.0
[submodule "nanoarrow"]
	path = nanoarrow
	url = https://github.com/apache/arrow-nanoarrow
	branch = apache-arrow-nanoarrow-0.7.0
	subdir = r
[submodule "nanonext"]
	path = nanonext
	url = https://github.com/shikokuchuo/nanonext
	branch = v1.7.1
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
	branch = v1.4.0
[submodule "polars0"]
	path = polars0
	url = https://github.com/rpolars/r-polars0
	branch = v1.0.0
[submodule "posterior"]
	path = posterior
	url = https://github.com/stan-dev/posterior
	branch = v1.6.0
[submodule "posteriordb"]
	path = posteriordb
	url = https://github.com/stan-dev/posteriordb-r
	branch = v0.3.4
[submodule "projpred"]
	path = projpred
	url = https://github.com/stan-dev/projpred
	branch = v2.9.0
[submodule "prophet"]
	path = prophet
	url = https://github.com/facebook/prophet
	branch = v1.1.7
	subdir = R
[submodule "prqlr"]
	path = prqlr
	url = https://github.com/PRQL/prqlc-r
	branch = v0.10.1
[submodule "rJavaEnv"]
	path = rJavaEnv
	url = https://github.com/e-kotov/rJavaEnv
	branch = v0.3.0
[submodule "riem"]
	path = riem
	url = https://github.com/ropensci/riem
	branch = v1.0.0
[submodule "rlang"]
	path = rlang
	url = https://github.com/r-lib/rlang
	branch = v1.1.6
[submodule "rredlist"]
	path = rredlist
	url = https://github.com/ropensci/rredlist
	branch = v1.1.1
[submodule "rstanarm"]
	path = rstanarm
	url = https://github.com/stan-dev/rstanarm
	branch = v2.32.2
[submodule "rwasm"]
	path = rwasm
	url = https://github.com/r-wasm/rwasm
	branch = v0.3.0
[submodule "saperlipopette"]
	path = saperlipopette
	url = https://github.com/ropensci-training/saperlipopette
	branch = v0.1.0
[submodule "shinystan"]
	path = shinystan
	url = https://github.com/stan-dev/shinystan
	branch = v2.6.0
[submodule "stantargets"]
	path = stantargets
	url = https://github.com/ropensci/stantargets
	branch = 0.1.2
[submodule "string2path"]
	path = string2path
	url = https://github.com/yutannihilation/string2path
	branch = v0.2.2
[submodule "tarchetypes"]
	path = tarchetypes
	url = https://github.com/ropensci/tarchetypes
	branch = 0.13.2
[submodule "targets"]
	path = targets
	url = https://github.com/ropensci/targets
	branch = 1.11.4
[submodule "targetsketch"]
	path = targetsketch
	url = https://github.com/wlandau/targetsketch
	branch = 0.0.1
[submodule "taxizedb"]
	path = taxizedb
	url = https://github.com/ropensci/taxizedb
	branch = v0.3.1
[submodule "tidypolars"]
	path = tidypolars
	url = https://github.com/etiennebacher/tidypolars
	branch = v0.14.1
[submodule "tidytab"]
	path = tidytab
	url = https://github.com/gvelasq/tidytab
	branch = v0.0.0.9000
[submodule "tidytensor"]
	path = tidytensor
	url = https://github.com/oneilsh/tidytensor
	branch = v1.0.0
[submodule "unigd"]
	path = unigd
	url = https://github.com/nx10/unigd
	branch = v0.1.3
[submodule "weathercan"]
	path = weathercan
	url = https://github.com/ropensci/weathercan
	branch = *release
[submodule "webchem"]
	path = webchem
	url = https://github.com/ropensci/webchem
	branch = v1.3.1
[submodule "webseq"]
	path = webseq
	url = https://github.com/stitam/webseq
	branch = v0.1.0
[submodule "wildfires"]
	path = wildfires
	url = https://github.com/humaniverse/wildfires
	branch = 0.9.0
[submodule "zstdlite"]
	path = zstdlite
	url = https://github.com/coolbutuseless/zstdlite
	branch = v0.2.6
