[submodule ".registry"]
	path = .registry
	url = https://github.com/r-multiverse/community
	branch = HEAD
[submodule "INLA"]
	path = INLA
	url = https://github.com/inbo/INLA
	branch = v19.09.03
[submodule "SBC"]
	path = SBC
	url = https://github.com/hyunjimoon/SBC
	branch = v0.3.0
[submodule "adbcdrivermanager"]
	path = adbcdrivermanager
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-14
	subdir = r/adbcdrivermanager
[submodule "adbcflightsql"]
	path = adbcflightsql
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-14
	subdir = r/adbcflightsql
[submodule "adbcsnowflake"]
	path = adbcsnowflake
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-14
	subdir = r/adbcsnowflake
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	branch = apache-arrow-17.0.0
	subdir = r
[submodule "audio.vadwebrtc"]
	path = audio.vadwebrtc
	url = https://github.com/bnosac/audio.vadwebrtc
	branch = 0.2
[submodule "audio.whisper"]
	path = audio.whisper
	url = https://github.com/bnosac/audio.whisper
	branch = 0.4.1
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	branch = v0.8.1
[submodule "colorout"]
	path = colorout
	url = https://github.com/jalvesaq/colorout
	branch = v1.3-1
[submodule "crew"]
	path = crew
	url = https://github.com/wlandau/crew
	branch = 0.9.5
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb-r
	branch = v1.1.0
[submodule "glaredb"]
	path = glaredb
	url = https://github.com/eitsupi/r-glaredb
	branch = v0.0.3
[submodule "httpgd"]
	path = httpgd
	url = https://github.com/nx10/httpgd
	branch = v2.0.2
[submodule "ichimoku"]
	path = ichimoku
	url = https://github.com/shikokuchuo/ichimoku
	branch = v1.5.5
[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/rigraph
	branch = v2.0.2
[submodule "later"]
	path = later
	url = https://github.com/r-lib/later
	branch = v1.3.2
[submodule "litedown"]
	path = litedown
	url = https://github.com/yihui/litedown
	branch = v0.2
[submodule "mirai"]
	path = mirai
	url = https://github.com/shikokuchuo/mirai
	branch = v1.2.0
[submodule "multitools"]
	path = multitools
	url = https://github.com/r-multiverse/multitools
	branch = 0.1.1
[submodule "multiverse.internals"]
	path = multiverse.internals
	url = https://github.com/r-multiverse/multiverse.internals
	branch = 0.2.12
[submodule "nanoarrow"]
	path = nanoarrow
	url = https://github.com/apache/arrow-nanoarrow
	branch = apache-arrow-nanoarrow-0.5.0
	subdir = r
[submodule "nanonext"]
	path = nanonext
	url = https://github.com/shikokuchuo/nanonext
	branch = v1.2.1
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
	branch = v0.19.1
[submodule "prqlr"]
	path = prqlr
	url = https://github.com/PRQL/prqlc-r
	branch = v0.9.0
[submodule "rJavaEnv"]
	path = rJavaEnv
	url = https://github.com/e-kotov/rJavaEnv
	branch = v0.2.2
[submodule "rlang"]
	path = rlang
	url = https://github.com/r-lib/rlang
	branch = v1.1.4
[submodule "secretbase"]
	path = secretbase
	url = https://github.com/shikokuchuo/secretbase
	branch = v1.0.2
[submodule "stantargets"]
	path = stantargets
	url = https://github.com/ropensci/stantargets
	branch = 0.1.1
[submodule "string2path"]
	path = string2path
	url = https://github.com/yutannihilation/string2path
	branch = v0.1.8
[submodule "targetsketch"]
	path = targetsketch
	url = https://github.com/wlandau/targetsketch
	branch = 0.0.1
[submodule "tidypolars"]
	path = tidypolars
	url = https://github.com/etiennebacher/tidypolars
	branch = v0.10.1
[submodule "tidytensor"]
	path = tidytensor
	url = https://github.com/oneilsh/tidytensor
	branch = v1.0.0
[submodule "tinytest"]
	path = tinytest
	url = https://github.com/markvanderloo/tinytest
	subdir = pkg
	registered = false
[submodule "unigd"]
	path = unigd
	url = https://github.com/nx10/unigd
	branch = v0.1.2
[submodule "zstdlite"]
	path = zstdlite
	url = https://github.com/coolbutuseless/zstdlite
	branch = v0.2.6
