[submodule ".registry"]
	path = .registry
	url = https://github.com/r-multiverse/community
	branch = HEAD
[submodule "INLA"]
	path = INLA
	url = https://github.com/inbo/INLA
	branch = *release
[submodule "SBC"]
	path = SBC
	url = https://github.com/hyunjimoon/SBC
	branch = *release
[submodule "audio.whisper"]
	path = audio.whisper
	url = https://github.com/bnosac/audio.whisper
	branch = *release
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	branch = *release
[submodule "crew"]
	path = crew
	url = https://github.com/wlandau/crew
	branch = *release
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb-r
	branch = *release
[submodule "httpgd"]
	path = httpgd
	url = https://github.com/nx10/httpgd
	branch = *release
[submodule "ichimoku"]
	path = ichimoku
	url = https://github.com/shikokuchuo/ichimoku
	branch = *release
[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/rigraph
	branch = *release
[submodule "later"]
	path = later
	url = https://github.com/r-lib/later
	branch = *release
[submodule "mirai"]
	path = mirai
	url = https://github.com/shikokuchuo/mirai
	branch = *release
[submodule "multitools"]
	path = multitools
	url = https://github.com/r-multiverse/multitools
	branch = *release
[submodule "multiverse.internals"]
	path = multiverse.internals
	url = https://github.com/r-multiverse/multiverse.internals
	branch = *release
[submodule "nanonext"]
	path = nanonext
	url = https://github.com/shikokuchuo/nanonext
	branch = *release
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
	branch = *release
[submodule "secretbase"]
	path = secretbase
	url = https://github.com/shikokuchuo/secretbase
	branch = *release
[submodule "stantargets"]
	path = stantargets
	url = https://github.com/ropensci/stantargets
	branch = *release
[submodule "string2path"]
	path = string2path
	url = https://github.com/yutannihilation/string2path
	branch = *release
[submodule "targetsketch"]
	path = targetsketch
	url = https://github.com/wlandau/targetsketch
	branch = *release
[submodule "tidypolars"]
	path = tidypolars
	url = https://github.com/etiennebacher/tidypolars
	branch = *release
[submodule "tidytensor"]
	path = tidytensor
	url = https://github.com/oneilsh/tidytensor
	branch = *release
[submodule "zstdlite"]
	path = zstdlite
	url = https://github.com/coolbutuseless/zstdlite
	branch = *release
